# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
ENV/
env/

# Environment Variables
.env
.env.local

# SQLite Database & Caches
*.db
*.sqlite
*.sqlite3
backend/database/selvie.db

# Audio Cache
backend/speech/cache/*.mp3

# Logs
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
